---
import CardProject from '@components/CardProject.astro'

const { title, projects } = {
  title: 'Ausgewählte Projekte',
  projects: [
  {
      title: 'Powercloud Endkundenportal',
      description:
        'Endkundenportal auf Basis der Powercloud Abrechnungsplatfrom. Enkuden können Zählerstände eintragen, Abschläge ändern/berrechnen. Tarife wechseln und auch ihre Dynamischen Verbäuche von Smartmetern einsehen.',
      image: '/src/images/projects/Img_pcPortal.png',
      techs: ['HTML', 'CSS','Angular', 'Typescript'],
      code: 'Code',
      preview: 'Preview',
      gitHubURL: '',
      hostedURL: 'https://pc-webpush.web.app/login/136'
    },
    {
      title: 'EPEX Price Visualisierung',
      description:
        'Visualisierung für dynamische Endkundentarife, um Kostenentwicklungen nachvollziehen zu können.',
      image: '/src/images/projects/Img_EPEXVIS.png',
      techs: ['HTML', 'CSS','Angular', 'Typescript'],
      code: 'Code',
      preview: 'Preview',
      gitHubURL: '',
      hostedURL: 'https://epex-dev.manage.swaas.de/2000/MP?postcode=48159&showPostCodeInput=false&showFooter=false&showHeader=false'
    },
    {
      title: 'Mittelstandspower',
      description:
        'Mittelstandspower ist dein Gewerbestromanbieter. Wir verschaffen Unternehmen Zugang zu erneuerbarer, bezahlbarer Energie. Bei voller Transparenz.',
      image: '/src/images/projects/Img_mittelstandspower.png',
      techs: ['HTML', 'CSS', 'Astro','Angular', 'Typescript'],
      code: 'Code',
      preview: 'Preview',
      gitHubURL: '',
      hostedURL: 'https://mittelstandspower.web.app/'
    },
    {
      title: 'Corona Tracker',
      description:
        'Weltweiter Überblick über die Coronafallzahlen mit interaktiver Karte und verschieden Diagrammen.',
      image: '/src/images/projects/Img_Corona_Tracker.png',
      techs: ['Angular', 'Ionic', 'Google Charts'],
      code: 'Code',
      preview: 'Preview',
      gitHubURL: 'https://github.com/felmoell/Corona-Tracker',
      hostedURL: 'https://schmolles-corona-tracker.web.app/' 
    },
    {
      title: 'Emotions',
      description:
        'Softwaresystem zur Erfassung von Emotionen im Zusammenhang mit der akutellen Position des Nutzers.',
      image: '/src/images/projects/Img_Emotions.jpg',
      techs: ['Java', 'Android',  'Laravel', 'PHP'],
      code: 'Code',
      preview: 'Preview',
      gitHubURL: 'https://github.com/felmoell/Emotions',
      hostedURL: ''
    }
  ]
}
---

<section id=main-projects class="projects"  data-aos="fade-left" data-aos-easing="ease-in-sine">
  <h2>
    <span>{title}</span>
  </h2>
  {
    projects.map(({ title, description, image, techs, code, preview ,gitHubURL, hostedURL}) => (
      <CardProject
        src={image}
        alt={title}
        title={title}
        description={description}
        techs={techs}
        code={code}
        preview={preview}
        gitHubURL={gitHubURL}        
        hostedURL={hostedURL}
      />
    ))
  }
</section>

<style>
  .projects {
    padding-bottom: 120px;

    & h2 {
      display: flex;
      gap: 24px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      margin-bottom: 86px;

      @media (width >= 768px) {
        justify-content: start;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--border-color);
        }
      }

      & span {
        order: 1;
      }
    }
  }
</style>
